@import 'reset';
@import './mixin/RWD';


$purple :#8A82CC;
$orange :#FFA573;
$orange2 :#FF851B;
$orange3 :#FF8000;
$yello : #F5D105;
$yello2 : #ffff00;
$blue : #73C0D8;
// 生產色
$green : #73d89a;
$green1 : green ;
$no : #A5A5A5;
$title: #333333;
$text: #666666;


$bg : #1B213B;
$bg2 : #343E59;
// $bgBox : #40475D;

$box : #2B2D3E;
$box2 : #262D47;

// 閒置色
$title2 : #ff6768;

// 陰影色
$br1 : #ABABAB;
$br2 : #242424;



body{
    // 背景色
    background: $bg;
    // 統一字型 FireFox 也能正常大小顯示
    font-family: "Times New Roman";

    .wrap{
        // 外推邊框高度 配合 JS 畫面大小調整
        margin: 20px;

        .content{
            display: flex;
            justify-content: space-between;
            
            .leftChart{
                width: 50%;
                display: flex;
                flex-direction: column;
                // 畫面中間分割線
                margin-right: 5px;
                box-shadow: 5px 0 0 $yello;

                .todayBox-1{
                    // 畫面推擠往下5px 同色填滿
                    margin-bottom: 5px;
                    box-shadow: 0 5px 0 $box;
                    .today-1{
                        width: 100%;
                    }
                }
    
                .todayBox-2{
                    display: flex;
    
                    .today-2{
                        width: 50%;
                    }
                    .today-3{
                        width: 50%;
                    }
                }
    
                .todayBox-3{
                    display: flex;
    
                    .today-4{
                        width: 50%;
                    }
                    .today-5{
                        width: 50%;
                    }
                }
    
            }
            .rightChart{
                width: 50%;
                display: flex;
                flex-direction: column;
    
                .tomorrow{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    // 畫面往下推擠 5px 並且採用黃色隔開
                    margin-bottom: 5px;
                    box-shadow: 0 5px 0 $yello;
                    .tomorrowBox-1{
                        width: 100%;
                        .tomorrow-1{
                            width: 100%;
                        }
                    }
                    .tomorrowBox-2{
                        display: flex;
                        justify-content: space-between;
                        .tomorrow-2{
                            width: 50%;
                        }
                        .tomorrow-3{
                            width: 50%;
                        }
                    }
                }
                .yesterday{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .yesterdayBox-1{
                        width: 100%;
                        .yesterday-1{
                            width: 100%;
                        }
                    }
                    .yesterdayBox-2{
                        display: flex;
                        justify-content: space-between;
                        .yesterday-2{
                            width: 50%;
                        }
                        .yesterday-3{
                            width: 50%;
                        }
                    }
                }
            }

            .box{
                background: $box;
                // 使用 Box Modle 不推擠的方式
                // outline: 5px solid #FFF;
            }
        }

        // 圖表細部修改項目
        .today-1{
            // bar 數值文字大小
            .apexcharts-datalabels{
                .apexcharts-data-labels{
                    .apexcharts-datalabel{
                        font-size: 36px;
                    }
                    
                }
            }
        }


    
        .notData{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #000;
            z-index: 999;
            min-width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            p{
                padding-bottom: 20px;
                font-size: 150px;
                text-align: center;
                font-weight: bold;
                color: $title2;
                transition: all 0.3s;
                &:hover{
                    transform: scale(1.1);
                }
                // 依大小來自動推擠RWD
                @include mobile-1850{
                    font-size: 130px;
                }
                @include mobile-1700{
                    font-size: 120px;
                }
                @include mobile-1600{
                    font-size: 110px;
                }
                @include mobile-1300{
                    font-size: 100px;
                }
                @include mobile-1100{
                    font-size: 80px;
                }
                @include mobile-914{
                    font-size: 60px;
                }
                @include mobile-767{
                    font-size: 50px;
                }
                @include mobile-620{
                    font-size: 40px;
                }
                @include mobile-480{
                    font-size: 30px;
                }
            }
            &.no{
                display: none;
            }
        }
    }
}

